.soda-container { 
    margin: 30px;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
}

.soda-button {
    margin: 10px;
    padding: 5px;
    border: 1px solid green;
}

.bad { color: red}
.good { color: green}
.message {
    padding: 10px;
}

.sold-out { 
    border: 1px solid red;
}