<div class="bad message" *ngIf="!canBuy">Please insert correct amount.</div>
<div class="good message" *ngIf="canBuy">Select your drink.</div>
<div class="soda-container">
    <div *ngFor="let soda of sodaList" 
        [ngClass]="{'soda-button': true,'sold-out': soda.stock < 1}"
        (click)="onBuy(soda)">
        <div>{{ soda.name}}</div>
        <img src="{{ soda.img }}"/>
        <div *ngIf="soda.stock > 0">
            {{ soda.price| currency}}
        </div>
        <div *ngIf="soda.stock < 1" class="sold-out-text">
           Sold out
        </div>
    </div>
</div>
