.money-container {
    display: inline-block;
    padding: 5px;
    text-align: center;
}

.coin {
    border-radius: 80px;
    width: 20px;
    margin: 3px;
    padding: 5px;
    text-align: center;
    background-color: gold;
}

.dollar {
    border-radius: 1px;
    background-color: greenyellow;
}

.no-money {
    background-color: red;
}

.inserted-money-box {
    display: inline-block;
    padding: 4px;
    border: 1px  solid black;
}

.cancel-button {
    margin: 15px
}