<h4>Insert money</h4>
<div *ngFor="let money of money" class="money-container">
 
    <div>{{ money.name}}</div>
    <div [ngClass]="{coin:true, 'dollar': money.type==='dollar', 
        'no-money': money.amount === 0}"
        (click)="insertMoney(money)">
        {{ money.amount}}
    </div> 
    
</div>
<br/><br/>
Amount inserted:
<div class="inserted-money-box">{{ moneyInserted | currency}}</div>

<button type="button"
    class="cancel-button"
    (click) = "onCancel()">
    Cancel
</button>

