.container { 
    display: grid;
    grid-template-columns: repeat(1fr * 3);
  
   column-gap: 5px;
   grid-template-rows: 3rem 200px 100px 200px 100px auto;

}

header { 
    margin: 5px;
    grid-column: 1 /4; 
    }

/* TODO future to use a subgrid */
main {
    border: 2px solid green;
    margin: 10px;
    grid-column: 1 / 3; 
    grid-row: 2/6;
    }


section { 
    /* background-color: blue; */
    grid-column: 3 /4; 
    grid-row: 2/4;
   
}
.cart { 
    /* background-color: green; */
    grid-column: 3 /4; 
    grid-row: 4/6;
}
footer {
    padding: 10px;
     background-color: orange;
    grid-column: 1 /4; 
}
